.container {
  background-color: #ededed;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card {
  min-width: 360px;
  box-shadow: 0 1px 3px 0 #999;
  background-color: #f9f9f9;
}
